@import '../../../scss/colours';

.ModalWindowComponent {
    .overlay {
        position         : fixed;
        top              : 0;
        left             : 0;
        width            : 100vw;
        height           : 100vh;
        z-index          : 200;
        background-color : rgba($black, .75);
        cursor           : pointer;
        opacity          : 0;
        transition       : all 500ms linear;
    }

    .window {
        position         : fixed;
        top              : 45%;
        left             : 50%;
        transform        : translate(-50%, -50%);
        background-color : $off-white;
        z-index          : 201;
        opacity          : 0;
        transition       : all 300ms cubic-bezier(.4, .1, .4, .45);
        box-shadow       : 2px 2px 8px 4px rgba($black, .25);
    }

    &.ready {
        .overlay {
            opacity : 1;
        }

        .window {
            opacity : 1;
            top     : 50%;
        }
    }
}
