@import '../../../scss/colours';
@import '../../../scss/mixins';

.StatusLozengeComponent {

    span {
        display          : inline-block;
        padding          : .5em 1em;
        background-color : $grey-mid;
        color            : $text-light-primary;
        border-radius    : .5em;
        text-align       : center;
        transition       : all 100ms linear;

        @each $class, $colour in $status-colours {
            @include class-background($class, $colour);
        }
    }

    &.editable {
        .content-wrapper {
            font-size : 1em;

            &:hover {
                cursor : pointer;

                span {
                    opacity : .5;
                }
            }

            &:focus, &:active {
                outline : none;
            }
        }
    }
}
