@import '../../../scss/colours';
@import '../../../scss/mixins';

$poc-height : 2rem;
$taper-width : 1rem;

@mixin poc-styles($class, $colour) {
    &.#{$class} {
        &:hover {
            background-color : $colour;

            &:after {
                border-right-color : $colour;
            }
        }

        &:active {
            background-color : darken($colour, 10%);

            &:after {
                border-right-color : darken($colour, 10%);
            }
        }
    }
}

.PocListComponent {
    @include flex(null, row, wrap);
    justify-content : space-between;

    &:after {
        content : '';
        flex    : 1000;
    }
    
    a {
        opacity: 0.8;
        .info {
            color: #2196f3;
        }
    }

    li {
        margin : 0 1em 1em 0;

        .poc {
            position         : relative;
            font-size        : 1rem;
            display          : inline-block;
            min-width        : 3em;
            height           : $poc-height;
            line-height      : $poc-height;
            padding          : 0 .5em 0 .5em;
            text-align       : center;
            background-color : $grey-lightest;
            color            : $text-primary;
            transition       : all 100ms linear;
            box-shadow       : 1px 1px 8px -1px rgba($black, .5);
            
            i {
                padding      : 0 .25em 0 .25em;
            }

            &:hover {
                cursor : default;
                color  : $text-light-primary;
            }

            &:active {
                box-shadow          : 1px 1px 2px 0 rgba($black, .5);
                transition-duration : 50ms;

                &:after {
                    transition-duration : 50ms;
                }
            }

            &.removable {
                cursor : pointer;
            }

            @each $class, $colour in $section-colours {
                @include poc-styles($class, $colour);
            }
        }

    }
}
