<ul class="PocListComponent">
    <a *ngIf="!pocs.length > 0"><i class="fa fa-info-circle info"></i> No Additional Points of contact.  Share the load by adding others who can push to get this problem solved.</a>
    <li *ngFor="let poc of pocs">
        <a class="poc {{editMode ? 'removable' : ''}} {{pocClass}}" (click)="onPocClick(poc)"
           title="{{editMode ? 'Click to remove user' : ''}}">
            <i *ngIf="!editMode" class="fa fa-user-o"></i>
            {{poc.name}}
            <i *ngIf="editMode" class="fa fa-close"></i>
        </a>
    </li>
</ul>
