$white : #fff;
$off-white : #fafafa;
$grey-lightest : #e4e4e5;
$grey-lighter : #ccc;
$grey-light : #aaa;
$grey-mid : #999;
$grey-dark : #777;
$grey-darker : #515151;
$grey-darkest : #292929;
$black : #000;

$text-primary : rgba($black, .87);
$text-secondary : rgba($black, .68);
$text-hint : rgba($black, .38);
$text-decoration : rgba($black, .12);

$text-light-primary : rgba($white, 1);
$text-light-secondary : rgba($white, .7);
$text-light-hint : rgba($black, .5);
$text-light-decoration : rgba($white, .12);

$brand-1 : #0097a7;
$brand-2 : #9c27b0;
$brand-3 : #009688;
$brand-4 : #e91e63;
$brand-1-light : #b2ebf2;
$brand-2-light : #e1bee7;
$brand-3-light : #b2dfdb;
$brand-4-light : #f8bbd0;

$ok : #689f38;
$warn : #ff9800;
$error : #e53935;
$ok-light : #dcedc8;
$warn-light : #ffe0b2;
$error-light : #ffcdd2;

$section-colours : (
        'problems' $brand-1 $brand-1-light,
        'ideas' $brand-2 $brand-2-light,
        'solutions' $brand-3 $brand-3-light,
        'projects' $brand-4 $brand-4-light
);

$brand-colours : (
        'primary' $brand-1 $brand-1-light,
        'secondary' $brand-2 $brand-2-light,
        'tertiary' $brand-3 $brand-3-light
);

$status-colours : (
        'complete' $ok,
        'in-progress' $warn,
        'failed' $error
);

$traffic-lights : (
        'ok': $ok,
        'warn': $warn,
        'error': $error,
        'ok-light': $ok-light,
        'warn-light': $warn-light,
        'error-light': $error-light
);
