@import 'colours';
@import 'mixins';

@mixin button-colour($class, $bg, $colour: $text-light-primary) {
    &.#{$class} {
        background-color : $bg;
        color            : $colour;

        &:hover, &:focus {
            &:not([disabled]) {
                background-color : darken($bg, 10%);
            }
        }

        &:active:not([disabled]) {
            background-color : darken($bg, 20%);
        }

        &.input-addon {
            border-color : $bg;
        }
    }
}

button {
    border           : none;
    padding          : 0;
    background-color : inherit;
    cursor           : pointer;

    &:focus, &:active {
        outline : none;
    }
}

.button {
    font-size      : 1em;
    font-weight    : 700;
    text-transform : uppercase;
    min-width      : 6em;
    padding        : .5em 1em;
    transition     : all 200ms linear;
    box-shadow     : 1px 1px 6px 1px rgba($black, .25);

    &:hover {
        background-color : rgba($black, .1);
    }

    &:active {
        background-color : rgba($black, .2);
        outline          : none;
    }

    @each $class, $colour in $brand-colours {
        @include button-colour($class, $colour);
    }

    @each $class, $colour in $section-colours {
        @include button-colour($class, $colour);
    }

    @include button-colour('white', $white, $text-primary);

    &.input-addon {
        padding     : .5em .75em;
        border      : 1px solid $grey-lighter;
        border-left : 0;
        box-shadow  : none;
        min-width   : 0;
    }

    &[disabled] {
        opacity : .5;
        cursor  : default;
    }
}

label {
    font-weight : 700;
}

input, textarea, select {
    font-size : 1em;
    padding   : .5em;
    border    : 1px solid $grey-lighter;
}

input {
    &.with-addon {
        border-right : 0;
    }
}

textarea {
    resize : none;
}

.form-row {
    @include flex(flex-start);
    margin      : .5em 0;
    line-height : 1.4rem;

    label {
        flex         : 1 0 22%;
        margin-right : 3em;
        text-align   : right;
        padding      : .5rem 0;
        .required {
            padding-left   : .3em;
            font-size      : 0.6em;
            vertical-align : super;
        }
    }

    input,
    textarea,
    select,
    markdown-editor,
    .form-control,
    .tag-control,
    .poc-control,
    ng2-completer,
    user-picker,
    poc-list {
        flex : 2 1 75%;
    }

    .completer-holder {
        position : relative;
    }

    .completer-input, .completer-dropdown, .completer-row {
        width : 100% !important;
    }

    .form-control {
        line-height : inherit;
        padding     : .5rem 0;
    }

    .tag-control {
        @include flex(null, column);
    }

    .poc-control {
        @include flex(null, column);
    }

    .form-row {
        margin : 0;
    }

    tag-list {
        margin-top : 1em;
    }

    poc-list {
        margin-top : 1em;
    }
}
