@import 'colours';
@import 'mixins';

i {
    @each $class, $colour in $traffic-lights {
        @include class-colour($class, $colour);
    }

    @each $class, $colour in $section-colours {
        @include class-colour($class, $colour);
    }
}
