@import 'constants';
@import 'colours';

@mixin tile {
    background-color : $off-white;
    box-shadow       : 1px 1px 8px -1px rgba($black, .5);
}

@mixin absolute-center($fixed: false, $x: true, $y: true) {
    @if $fixed {
        position : fixed;
    } @else {
        position : absolute;
    }

    @if $x {
        left : 50%;
    }

    @if $y {
        top : 50%;
    }

    @if $x and $y {
        transform : translate(-50%, -50%);
    } @else if $x {
        transform : translateX(-50%);
    } @else if $y {
        transform : translateY(-50%);
    }
}

@mixin flex($align: null, $direction: row, $wrap: nowrap) {
    display   : flex;
    flex-flow : $direction $wrap;

    @if $align {
        align-items : $align;
    }
}

@mixin model-page {
    .loading {
        @include absolute-center(true);
        font-size  : 3rem;
        opacity    : 0;
        transition : all 1s ease-in 200ms;

        &.visible {
            opacity : 1;
        }

        h3 {
            display        : inline-block;
            vertical-align : middle;
            margin-left    : .25em;
        }
    }

    .page-content {
        padding : 2rem $page-gutter;

        tab-container {
            position : relative;

            .tab-spinner {
                @include absolute-center();
                font-size : 1.6rem;

                h3 {
                    display        : inline-block;
                    vertical-align : middle;
                    margin-left    : .25em;
                }
            }

            .list-container {
                padding : 0 1rem;
            }
        }

        .placeholder {
            padding : 1rem;
        }
    }

    .summary-info {
        @include flex(center, row, wrap);
        padding : 1em 0;

        li {
            font-size    : 1.5rem;
            margin-right : 1em;

            &.score-indicator {
                flex       : 1;
                text-align : right;
            }

            &.status-lozenge {
                font-size : 1.2rem;
            }

            &:last-child {
                margin-right : 0;
            }
        }
    }
}

@mixin modal-form {
    position  : relative;
    min-width : 50vw;
    max-width : 90vw;
    height    : auto;

    .modal-header {
        padding          : 1em $modal-gutter;
        background-color : $grey-lightest;

        h4 {
            font-size : 1.25rem;
        }
    }

    .modal-body {
        padding    : 1em $modal-gutter;
        overflow   : auto;
        max-height : 80vh;
    }

    .modal-footer {
        padding    : .5em $modal-gutter 2em;
        text-align : right;
        font-size  : .875em;

        button {
            margin-left : 1em;
        }
    }
}

@mixin class-background($class, $colour) {
    &.#{$class} {
        background-color : $colour;
    }
}

@mixin class-colour($class, $colour) {
    &.#{$class} {
        color : $colour;
    }
}

@mixin list-page {
    .content {
        margin : 1rem $page-gutter;

        .loading {
            @include absolute-center(true);
            font-size  : 2.5rem;
            opacity    : 0;
            transition : all 1s ease-in 200ms;

            &.visible {
                opacity : 1;
            }

            h3 {
                display        : inline-block;
                vertical-align : middle;
                margin-left    : .25em;
            }
        }
    }
}

@mixin fancy-button($size, $font-size) {
    position      : relative;
    width         : $size;
    height        : $size;
    border-radius : 50%;
    transition    : all 200ms linear;
    box-shadow    : 1px 1px 12px 2px transparent;

    i {
        @include absolute-center;
        font-size  : $font-size;
        color      : $text-light-primary;
        transition : all 200ms linear;
    }

    &:hover, &:focus, &.spinner {
        background-color : $white;
        box-shadow       : 1px 1px 12px 2px rgba($black, .5);

        i {
            color : $grey-darkest;
        }
    }

    &:focus {
        outline : none;
    }

    &:active {
        outline             : none;
        box-shadow          : 1px 1px 4px 2px rgba($black, .75);
        transform           : scale(0.9);
        transition-duration : 50ms;
    }

    spinner {
        @include absolute-center;
        font-size : 1.6rem;
    }
}
