@import 'colours';

html, body, textarea {
    font-family : 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

pre, code {
    font-family : 'Inconsolata', 'Courier New', monospace;
}

html, body {
    color : $text-secondary;
}

h1, h2, h3, h4, h5, h6, th {
    color : $text-primary;
}

p {
    line-height : 1.4em;
}
