<div class="UserPickerComponent">
    <ng2-completer name="userCompleter" [(ngModel)]="search" [datasource]="dataService"
                   [minSearchLength]="3" inputId="{{inputId}}" (selected)="onSelected($event)"
                   [clearUnselected]="true"></ng2-completer>
</div>
