.UserPickerComponent {
    .completer-image {
        max-height : 1.5em;
    }

    .completer-image-holder {
        width        : auto;
        margin-right : 1em;
    }

    .completer-item-text-image {
        float : left;
        width : auto;
    }
}
