@import '../../../scss/colours';

.LoginPageComponent {
    min-height  : 100vh;
    background  : url(../../../assets/images/logo.svg) fixed center / contain no-repeat;
    padding-top : 10%;
    overflow    : auto;

    .pane {
        position         : relative;
        width            : 50%;
        min-width        : 320px;
        max-width        : 1024px;
        margin           : auto;
        background-color : rgba($white, .85);
        padding          : 2rem;

        h1, h2, a {
            text-align : center;
            display    : block;
            margin     : auto;
        }

        h1 {
            font-size     : 3rem;
            margin-bottom : 1em;
        }

        h2 {
            font-size     : 1.5rem;
            margin-bottom : 1em;
        }

        .google-signin {
            width      : 382px;
            height     : 92px;
            max-width  : 100%;
            background : url(../../../assets/images/btn_google_signin_light_normal_web@2x.png) center / contain no-repeat;

            &:focus {
                background : url(../../../assets/images/btn_google_signin_light_focus_web@2x.png) center / contain no-repeat;
            }

            &:active {
                background : url(../../../assets/images/btn_google_signin_light_pressed_web@2x.png) center / contain no-repeat;
            }
        }
    }

}
