<div class="LoginPageComponent">
    <div class="pane">
        <h1>Welcome to {{appName}}</h1>
        <h2>Please log in to continue</h2>
        <a href="{{googleUrl}}" class="google-signin"></a>
    </div>
</div>
