<div class="CommonHeaderComponent {{className}}">
    <i *ngIf="iconClass" class="fa {{iconClass}}"></i>
    <h2>{{heading}}</h2>
    <ng-content></ng-content>
    <common-header-button (click)="onHelp()" title="About this page" iconClass="fa-question"></common-header-button>
</div>
