@import '../../../scss/constants';
@import '../../../scss/colours';
@import '../../../scss/mixins';

$item-height : 3rem;

.CommonHeaderComponent {
    @include flex;
    align-items : center;
    padding     : 1rem $page-gutter .5rem;

    @each $class, $colour in $brand-colours {
        @include class-background($class, $colour);
    }

    i {
        color        : $text-light-primary;
        font-size    : 2rem;
        line-height  : $item-height;
        margin-right : 1rem;
        min-width    : 2rem;
    }

    h2 {
        flex        : 1 0;
        font-size   : 1.6rem;
        color       : $text-light-primary;
        line-height : $item-height;
    }
}
