@import '../../../scss/colours';
@import '../../../scss/mixins';
@import 'common-header.styles';

.CommonHeaderButtonComponent {
    position      : relative;
    width         : $item-height;
    height        : $item-height;
    border-radius : 50%;
    transition    : all 200ms linear;
    box-shadow    : 1px 1px 12px 2px transparent;
    margin-left   : .5rem;

    i {
        @include absolute-center;
        font-size  : 2rem;
        color      : $text-light-primary;
        transition : all 200ms linear;
    }

    &:hover {
        background-color : $white;
        box-shadow       : 1px 1px 12px 2px rgba($black, .5);

        i {
            color : $grey-darkest;
        }
    }

    &:focus {
        outline : none;
    }

    &:active {
        outline             : none;
        box-shadow          : 1px 1px 4px 2px rgba($black, .75);
        transform           : scale(0.9);
        transition-duration : 50ms;
    }
}
