<div class="navbar-padding"></div>
<header class="NavbarComponent">
    <div class="navbar-content">
        <a routerLink="/problems">
            <h1><img [src]="iconUrl">{{title}}</h1>
        </a>
        <ul class="nav-tab-list">
            <li *ngFor="let tab of tabs">
                <a class="{{styleService.getStyleClass(tab.style)}} {{tab === activeTab ? 'active' : ''}}"
                   routerLink={{tab.path}} [queryParams]="queryParams">
                    {{tab.title}}
                </a>
            </li>
        </ul>
        <feedback-button [styleClass]="styleClass"></feedback-button>
        <h2 class="user-welcome" *ngIf="user">{{user.name}}</h2>
    </div>
</header>
