@import '../../../scss/colours';
@import '../../../scss/constants';
@import '../../../scss/mixins';

$nav-height : 4rem;

.navbar-padding {
    height : $nav-height;
}

.NavbarComponent {
    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 100;
    width    : 100vw;

    .navbar-content {
        @include flex(center);
        padding          : 0 $page-gutter;
        background-color : $grey-darkest;
        height           : $nav-height;
        box-shadow       : 0px -5px 6px 12px rgba($black, .5);

        a {
            text-decoration : none;
        }

        h1 {
            @include flex(center);
            margin-right : 3rem;
            font-size    : 2rem;
            color        : $text-light-primary;
            line-height  : $nav-height;

            img {
                height       : 1.2em;
                margin-right : .5em;
            }
        }

        .nav-tab-list {
            @include flex;
            flex-grow : 1;

            li {

                a {
                    display        : block;
                    min-width      : 8rem;
                    text-align     : center;
                    vertical-align : middle;
                    line-height    : $nav-height;
                    color          : $text-light-primary;
                    font-size      : 1.1em;

                    &.active {
                        @each $class, $colour in $brand-colours {
                            @include class-background($class, $colour);
                        }
                    }
                }
            }
        }

        .user-welcome {
            color : $text-light-primary;
        }
    }
}
