<div class="BatchInfoComponent">
    <div class="batch-info">
        <table class="info-table">
            <tbody>
                <tr>
                    <th>Status:</th>
                    <td>
                        <status-lozenge [status]="getBatchStatus()"></status-lozenge>
                    </td>
                </tr>
                <tr>
                    <th>Started:</th>
                    <td>{{getDateStarted()}}</td>
                </tr>
                <tr>
                    <th>Completed:</th>
                    <td>{{getDateCompleted()}}</td>
                </tr>
                <tr>
                    <th>Expires:</th>
                    <td>{{getTtl()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="search-terms">
        <table class="info-table">
            <tbody>
                <tr>
                    <th>Search Terms:</th>
                    <td>
                        <ul>
                            <li *ngFor="let searchTerm of getSampleTerms()">
                                {{searchTerm}}
                            </li>
                            <li *ngIf="hasMoreTerms()">{{getMoreText()}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
