@import '../../../scss/mixins';

.BatchInfoComponent {
    @include flex;
    //padding   : 1rem;
    max-width : 1024px;

    .info-table {
        margin : 1rem 0;

        th, td {
            padding : .5em;
        }

        th {
            text-align    : right;
            padding-right : 1em;
        }

        li {
            margin-bottom : .5em;
        }
    }

    .batch-info, .search-terms {
        flex : 1;
    }
}
