@import '../../../scss/colours';
@import '../../../scss/mixins';

$modal-gutter : 1rem;
$modal-body-height : 60vh;

.IconSelectorModalComponent {
    min-width  : 60vw;
    max-width  : 90vw;
    min-height : 40vh;

    .header-section {
        @include flex(center);
        padding          : .5em $modal-gutter;
        background-color : $grey-lightest;

        h4 {
            font-size : 1.25rem;
            flex      : 1 1 50%;
        }

        input {
            min-width   : 20em;
            margin-left : 1em;
        }
    }

    .body-section {
        @include flex;
        border-bottom : 1px solid $text-decoration;
        height        : $modal-body-height;

        .category-list {
            flex         : 1 1 25%;
            border-right : 1px solid $text-decoration;
            height       : $modal-body-height;
            overflow     : auto;

            li {
                padding    : .5em 1em;
                transition : all 50ms linear;

                &:hover {
                    background-color : rgba($brand-1, .25);
                    cursor           : pointer;
                }

                &.selected {
                    background-color : $brand-1;
                    color            : $text-light-primary;
                }
            }
        }

        .icon-list-wrapper {
            flex     : 1 1 75%;
            height   : $modal-body-height;
            overflow : auto;
        }

        .icon-list {
            @include flex(null, row, wrap);
            justify-content : space-between;

            &:after {
                content : '';
                flex    : 1 0 0;
            }

            li {
                position   : relative;
                font-size  : 2.5rem;
                width      : 5rem;
                height     : 5rem;
                transition : all 50ms linear;

                &:hover {
                    background-color : rgba($brand-1, .25);
                    cursor           : pointer;
                }

                &.selected {
                    background-color : $brand-1;
                    color            : $text-light-primary;
                }

                i {
                    @include absolute-center;
                }
            }
        }
    }

    .palette-section {
        padding : 1em $modal-gutter;

        .colour-list {
            text-align : center;

            li {
                display : inline-block;
                width   : 3.5rem;
                height  : 3.5rem;

                button {
                    position         : relative;
                    width            : 3.5rem;
                    height           : 3.5rem;
                    background-color : transparent;
                    border           : .5rem solid transparent;
                    transition       : all 100ms linear;

                    .fill {
                        display : block;
                        width   : 100%;
                        height  : 100%;
                    }

                    &:hover {
                        border-color : $grey-dark;
                    }

                    &.selected {
                        border-color : $grey-darkest;
                    }

                    &:focus, &:active {
                        outline : none;
                    }
                }
            }
        }
    }

    .footer-section {
        @include flex(center);
        padding : 1em $modal-gutter;

        span {
            margin-right : 1em;
        }

        i {
            font-size    : 2rem;
            margin-right : 1em;
        }

        .buttons {
            flex       : 1 0 0;
            text-align : right;

            button {
                margin-left : 1em;
            }
        }
    }
}
