<modal-window (cancel)="onCancel()">
    <div class="IconSelectorModalComponent">
        <section class="header-section">
            <h4>Icon Selector</h4>
            <label for="{{getElementId('icon-selector-search-input')}}">Search: </label>
            <input id="{{getElementId('icon-selector-search-input')}}" type="search" title="Search"
                   [formControl]="searchControl"/>
        </section>
        <section class="body-section">
            <ul class="category-list">
                <li *ngFor="let category of categories" class="{{category === selectedCategory ? 'selected': ''}}"
                    (click)="onSelectCategory(category)">
                    {{category}}
                </li>
            </ul>
            <div class="icon-list-wrapper">
                <ul class="icon-list">
                    <li *ngFor="let icon of filteredIcons"
                        class="{{selectedIcon && (icon.id === selectedIcon.id) ? 'selected': ''}}"
                        (click)="onSelectIcon(icon)" title="{{icon.name}}">
                        <i class="fa fa-{{icon.id}}"></i>
                    </li>
                </ul>
            </div>
        </section>
        <section class="palette-section">
            <ul class="colour-list">
                <li *ngFor="let colour of palette">
                    <button (click)="onSelectColour(colour)" class="{{colour === selectedColour ? 'selected': ''}}">
                        <span class="fill" [ngStyle]="getPaletteStyle(colour)"></span>
                    </button>
                </li>
            </ul>
        </section>
        <section class="footer-section">
            <span>Original Icon:</span>
            <i class="fa {{currentIcon || 'fa-question'}}" [ngStyle]="getIconStyle(currentColour)"></i>
            <span>Selected Icon:</span>
            <i class="fa fa-{{selectedIcon ? selectedIcon.id: ''}}" [ngStyle]="getIconStyle(selectedColour)"></i>
            <div class="buttons">
                <button class="button" (click)="onCancel()">Cancel</button>
                <button class="button brand-1" [disabled]="!canChangeIcon()"
                        (click)="onIconChange()">
                    Change
                </button>
            </div>
        </section>
    </div>
</modal-window>
