@import '../node_modules/reset-css/reset';
@import '../node_modules/typeface-roboto/index.css';
@import '../node_modules/typeface-inconsolata/index.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import 'scss/colours';
@import 'scss/typography';
@import 'scss/forms';
@import 'scss/tables';
@import 'scss/icons';

html, body {
    background-color : $grey-lightest;
    box-sizing       : border-box;
    height           : 100%;
}

* {
    box-sizing : border-box;
}

html {
    overflow-x : hidden;

    &.no-scroll {
        overflow : hidden;
    }
}

body {
    padding-right : calc(100vw - 100%);
    width         : calc(200vw - 100%);
}
