<div class="HomePageComponent">
    <common-header heading="Home" className="primary"></common-header>
    <div class="headings">
        <h1>Welcome to the {{appName}}</h1>
        <h2>{{getInstructionText()}}</h2>
    </div>
    <div class="page-content">
        <div class="control-space">
            <div *ngIf="!manualEntry">
                <input id="{{getElementId('strip-header-checkbox')}}" name="stripHeader" type="checkbox"
                       [(ngModel)]="stripHeader">
                <label for="{{getElementId('strip-header-checkbox')}}">
                    <i class="fa {{stripHeader ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
                    <span>Ignore first row</span>
                </label>
            </div>
        </div>

        <form [class]="getUploadFormClass()" *ngIf="!manualEntry" (submit)="onFileUpload($event)"
              (drag)="preventDefaults($event)" (dragstart)="preventDefaults($event)"
              (dragend)="onUploadDragLeave($event)" (dragover)="onUploadDragEnter($event)"
              (dragenter)="onUploadDragEnter($event)" (dragleave)="onUploadDragLeave($event)"
              (drop)="onUploadDrop($event)">
            <div *ngIf="!uploading" class="file-input">
                <input id="{{getElementId('file-input')}}" type="file" name="file" accept=".doc,.docx,.csv"
                       (change)="onUploadInputChange($event)">
                <label for="{{getElementId('file-input')}}">
                    <i class="fa fa-upload"></i>
                    <span>{{labelText}}</span>
                </label>
            </div>
            <div class="spinner-wrapper" *ngIf="uploading">
                <spinner className="light"></spinner>
                <span>Uploading...</span>
            </div>
        </form>

        <div class="toggle-button-wrapper" *ngIf="!manualEntry">
            <button class="button white toggle-button" (click)="toggleManual()">Enter manually
            </button>
        </div>

        <form class="batch-create-form" (submit)="onFormSubmit($event)" *ngIf="manualEntry">
            <textarea #sourceDataInput name="sourceData" id="source-data-input" rows="10"
                      title="Enter your IPs/URLs, one per line"></textarea>
            <div class="toggle-button-wrapper">
                <button class="button white toggle-button" (click)="toggleManual()">Upload a file</button>
            </div>
            <div class="buttons">
                <button class="button primary submit-button">
                    <span *ngIf="!submitPending">Submit</span>
                    <spinner *ngIf="submitPending"></spinner>
                </button>
            </div>
        </form>
    </div>
</div>
