@import '../../../scss/constants';
@import '../../../scss/colours';
@import '../../../scss/mixins';

$upload-label-padding : 6rem;
$upload-label-font-size : 2rem;
$upload-form-height : 2 * $upload-label-padding + $upload-label-font-size;

.HomePageComponent {
    .headings {
        text-align : center;

        h1 {
            font-size : 2rem;
            margin    : 3rem 0;
        }

        h2 {
            font-size : 1.2rem;
            margin    : 3rem 0 2rem;
        }
    }

    .page-content {
        padding   : 2rem $page-gutter;
        max-width : 1024px;
        margin    : auto;

        .control-space {
            height     : 4rem;
            text-align : center;

            input[type="checkbox"] {
                width    : 0.1px;
                height   : 0.1px;
                opacity  : 0;
                overflow : hidden;
                position : absolute;
                z-index  : -1;

                & + label {
                    @include tile;
                    font-size     : 1.2em;
                    padding       : .75em 1em;
                    border-radius : .5em;
                    transition    : all 150ms linear;
                    font-weight   : 500;

                    i {
                        vertical-align : middle;
                        width          : 1.5em;
                        text-align     : left;
                    }

                    span {
                        vertical-align : middle;
                    }

                    &:hover {
                        background-color : $brand-1-light;
                        cursor           : pointer;
                    }
                }

                &:checked {
                    & + label {
                        background-color : $brand-1;
                        color            : $text-light-primary;
                    }
                }
            }
        }

        .toggle-button-wrapper {
            text-align : right;
        }

        .toggle-button {
            font-size : .9em;
            margin    : 1em 0;
        }

        .file-upload-form {
            @include tile;
            position   : relative;
            display    : block;
            height     : $upload-form-height;
            transition : all 150ms linear;

            input[type="file"] {
                width    : 0.1px;
                height   : 0.1px;
                opacity  : 0;
                overflow : hidden;
                position : absolute;
                z-index  : -1;
            }

            label {
                display        : block;
                position       : relative;
                width          : 100%;
                height         : 100%;
                padding        : $upload-label-padding 2rem;
                text-align     : center;
                transition     : all 150ms linear;
                font-size      : $upload-label-font-size;
                font-weight    : 300;
                outline        : 2px dashed $brand-1-light;
                outline-offset : -10px;

                &:hover {
                    background-color : $brand-1-light;
                    cursor           : pointer;
                    outline-color    : $brand-1;
                }

                &:active {
                    outline-offset : -20px;
                }

                i {
                    @include absolute-center;
                    font-size : 10rem;
                    color     : $text-decoration;
                }
            }

            &.dragged {
                label {
                    background-color : $brand-1-light;
                    cursor           : pointer;
                    outline-color    : $brand-1;
                    outline-offset   : -20px;
                }
            }

            &.uploading {
                background-color : $brand-1;
            }

            .spinner-wrapper {
                @include absolute-center;
                font-size : 3rem;
                color     : $text-light-primary;

                spinner {
                    margin-right : 1rem;
                }
            }
        }

        .batch-create-form {
            label {
                display : block;
                margin  : 1rem 0;
            }

            textarea {
                width : 100%;
            }

            .buttons {
                font-size  : 1.4rem;
                text-align : center;
                margin     : 2rem 0;
            }
        }
    }
}
