<modal-window class="GeoModalComponent" (cancel)="onCancel()">
    <div class="modal-header">
        <h4>Geo data for {{result.identifier}}</h4>
    </div>
    <div class="modal-body">
        <iframe class="map-frame" [src]="mapUrl" frameborder="0"></iframe>
    </div>
</modal-window>
