@import '../../../scss/colours';
@import '../../../scss/mixins';

.GeoModalComponent {
    @include modal-form;

    .modal-header {
        background-color : $brand-2;

        h4 {
            color : $text-light-primary;
        }
    }

    .modal-body {
        padding  : 0;
        overflow : hidden;
    }

    .map-frame {
        width  : 50vw;
        height : 50vh;
    }
}
