<ul class="BatchListComponent">
    <li *ngFor="let batch of batches">
        <a class="batch" [routerLink]="batch._id">
            <div class="batch-heading secondary">
                <h3>{{batch.screenName}}</h3>
            </div>
            <div class="batch-info">
                <batch-info [batch]="batch"></batch-info>
            </div>
        </a>
    </li>
</ul>
