@import '../../../scss/mixins';

.BatchListComponent {
    max-width : 1280px;
    margin    : auto;

    .batch {
        @include tile;
        display         : block;
        text-decoration : none;
        color           : inherit;
        margin-bottom   : 2rem;
        transition      : all 150ms linear;

        &:hover {
            background-color : $brand-2-light;
            cursor           : pointer;
        }

        .batch-heading {
            padding : 1rem;

            @each $class, $colour in $brand-colours {
                @include class-background($class, $colour);
            }

            h3 {
                font-size : 1.6rem;
                color     : $text-light-primary;
            }
        }

        .batch-info {
            padding : 1rem;
        }
    }
}
