<div class="NavWrapperPageComponent">
    <navbar [user]="user"></navbar>
    <router-outlet></router-outlet>
    <footer class="footer">
        <span class="left"></span>
        <span class="centre">Created at <img src="../../../assets/images/tommys.png" alt="Tommy's"/></span>
        <span class="right">{{appName}} v{{version}}</span>
    </footer>
</div>
