@import '../../../scss/constants';
@import '../../../scss/mixins';

.NavWrapperPageComponent {
    position       : relative;
    min-height     : 100%;
    padding-bottom : $footer-height;

    .footer {
        @include flex(center);
        position : absolute;
        right    : 0;
        bottom   : 0;
        left     : 0;
        height   : $footer-height;
        color    : $text-primary;
        padding  : 1rem $page-gutter;

        span {
            flex           : 1 1 15%;
            vertical-align : middle;

            &.centre {
                flex        : 10 1 70%;
                font-weight : 700;
                font-size   : 1.2rem;
                text-align  : center;
            }

            &.right {
                text-align : right;
            }

            img {
                height         : 2.5em;
                vertical-align : middle;
            }
        }
    }
}
