@import '../../../scss/constants';
@import '../../../scss/mixins';

.ResultsPageComponent {
    .page-content {
        padding : 2rem $page-gutter;
    }

    section {
        @include tile;
        margin-bottom : 2rem;
        padding       : 1rem;

        h3 {
            font-size     : 1.6rem;
            margin-bottom : 1em;
        }
    }

    .table-wrapper {
        overflow : auto;
    }

    .loading {
        text-align : center;
        font-size  : 2rem;
        padding    : 4rem 0;

        h3 {
            display        : inline-block;
            vertical-align : middle;
            margin-left    : .25em;
        }
    }
}
