<div class="ResultsPageComponent">
    <common-header [heading]="getHeading()" className="secondary">
        <common-header-button [iconClass]="'fa-address-book'" title="Download email addresses"
                              (click)="onEmailExport()" *ngIf="anyResultsSelected()"></common-header-button>
        <common-header-button [iconClass]="'fa-download'" title="Download as CSV"
                              (click)="onCsvExport()" *ngIf="anyResultsSelected()"></common-header-button>
        <common-header-button [iconClass]="'fa-clock-o'" title="Extend Expiry"
                              (click)="onExtendExpiry()"></common-header-button>
    </common-header>
    <div class="page-content" *ngIf="batch">
        <section class="batch-info">
            <h3>Batch Information</h3>
            <batch-info [batch]="batch"></batch-info>
        </section>

        <div class="loading" *ngIf="!batch || !batch.complete">
            <spinner></spinner>
            <h3>Loading...</h3>
        </div>

        <section class="results" *ngIf="batch && batch.complete">
            <h3>Results</h3>
            <div class="table-wrapper" *ngIf="batch.results.length">
                <results-table [results]="batch.results"></results-table>
            </div>
            <div class="no-results" *ngIf="!batch.results.length">
                <p>There were no results for this batch.</p>
            </div>
        </section>
    </div>
</div>

<extend-expiry-modal [batchId]="batchId" *ngIf="showExtendExpiryModal" (cancel)="onExtendExpiryCancel()" (complete)="onExtendComplete()"></extend-expiry-modal>
