@import '../../../scss/constants';
@import '../../../scss/mixins';

.BatchListPageComponent {
    .content {
        padding : 2rem $page-gutter;

        .no-batches {
            text-align : center;
            padding    : 2rem 0;

            h4 {
                font-size : 1.4rem;
            }
        }

        .loading {
            @include absolute-center(true);
            font-size  : 2.5rem;
            opacity    : 0;
            transition : all 1s ease-in 200ms;

            &.visible {
                opacity : 1;
            }

            h3 {
                display        : inline-block;
                vertical-align : middle;
                margin-left    : .25em;
            }
        }
    }
}
