<div class="BatchListPageComponent">
    <common-header heading="Batches" className="secondary"></common-header>
    <div class="content">
        <batch-list [batches]="batches" *ngIf="batches && batches.length"></batch-list>
        <div class="no-batches" *ngIf="batches && !batches.length">
            <h4>There are currently no batches available to view.</h4>
        </div>
        <div class="loading {{loading ? 'visible' : ''}}" *ngIf="!batches">
            <spinner></spinner>
            <h3>Loading...</h3>
        </div>
    </div>
</div>
