@import '../../../scss/colours';
@import '../../../scss/mixins';

.WhoisModalComponent {
    @include modal-form;

    .modal-header {
        background-color : $brand-2;

        h4 {
            color : $text-light-primary;
        }
    }
}
