<modal-window class="WhoisModalComponent" (cancel)="onCancel()">
    <div class="modal-header">
        <h4>Raw WHOIS data for {{searchTerm}}</h4>
    </div>
    <div class="modal-body">
        <pre>{{whois}}</pre>
    </div>
</modal-window>
