@import '../../../scss/colours';
@import '../../../scss/mixins';

.ResultsTableComponent {
    border : 1px solid $grey-light;

    thead {
        background-color : $brand-2;

        th {
            color : $text-light-primary;
        }
    }

    tbody {
        td {
            span {
                display       : inline-block;
                max-width     : 24em;
                text-overflow : ellipsis;
                overflow      : hidden;
            }
        }

        tr {
            &:nth-child(2n) {
                background-color : $grey-lightest;
            }
        }
    }

    th, td {
        padding        : 1em;
        text-align     : left;
        vertical-align : middle;

        li {
            margin : .25em 0;
        }

        &.buttons {
            text-align : center;

            button {
                @each $class, $colour in $brand-colours {
                    @include class-background($class, $colour);
                }
                @include fancy-button(2.25rem, 1.25rem);
                margin : 0 .25em;
            }
        }
    }
}
