<table class="ResultsTableComponent">
    <thead>
        <tr>
            <th>Search Term</th>
            <th>Domain Names</th>
            <th>IP Address</th>
            <th>Abuse Emails</th>
            <th>Geo</th>
            <th>Actions</th>
            <th class="buttons">
                <button class="secondary" (click)="selectAll()" title="Select All">
                    <i class="fa {{allSelected ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results">
            <th>{{result.identifier}}</th>
            <td>
                <ul>
                    <li *ngFor="let hostname of result.hostnames"><span>{{hostname}}</span></li>
                </ul>
            </td>
            <td><span>{{result.ip}}</span></td>
            <td>
                <ul>
                    <li *ngFor="let email of result.abuseEmail"><span>{{email}}</span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li *ngFor="let geoField of getGeoFields(result)"><span>{{geoField}}</span></li>
                </ul>
            </td>
            <td class="buttons">
                <button *ngIf="canDisplayGeo(result)" class="secondary" (click)="onShowGeo(result)" title="Show on Map">
                    <i class="fa fa-map-marker"></i>
                </button>
                <button *ngIf="result.whois" class="secondary" (click)="onShowRaw(result)" title="Show Raw WHOIS">
                    <i class="fa fa-code"></i>
                </button>
            </td>
            <td class="buttons">
                <button class="secondary" (click)="select(result)" title="Select All">
                    <i class="fa {{result.isSelected ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<whois-modal [searchTerm]="whoisResult.identifier" [whois]="whoisResult.whois" *ngIf="showWhoisModal"
             (cancel)="onWhoisModalCancel()"></whois-modal>
<geo-modal [result]="geoResult" *ngIf="showGeoModal" (cancel)="onGeoModalCancel()"></geo-modal>
