@import '../../../scss/colours';
@import '../../../scss/mixins';

.ExtendExpiryModalComponent {
    @include modal-form;

    .modal-header {
        background-color : $brand-2;

        h4 {
            color : $text-light-primary;
        }
    }

    .modal-body {
        min-width: 650px;
    }
}
