<modal-window class="ExtendExpiryModalComponent" (cancel)="onCancel()">
    <div class="modal-header">
        <h4>Change the Time to Live of this Batch</h4>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <label for="{{getElementId('ttl-input')}}">New Time To Live</label>
            <select name="ttl" id="{{getElementId('ttl-input')}}" autocomplete="off"
                [(ngModel)]="selectedTtl">
                <option [ngValue]="10*60*1000">10 Minutes</option>
                <option [ngValue]="60*60*1000">1 Hour</option>
                <option [ngValue]="24*60*60*1000">1 Day</option>
                <option [ngValue]="30*24*60*60*1000">1 Month</option>
                <option [ngValue]="178*24*60*60*1000">6 Months</option>
                <option [ngValue]="356*24*60*60*1000">1 Year</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <button class="button" (click)="onCancel()">Cancel</button>
            <button class="button"
                    (click)="onExtend()">
                Submit
            </button>
        </div>
    </div>
</modal-window>
